#main span {
}
@media(min-width:769){
input.search{
    background-color: #323232;
    color: white;
	width:70%;
	maxlength:255;
    
}
}
@media (max-width:768px){
input.search{
    background-color: #323232;
    color: white;
	width:70%;
	maxlength:255;
    
}
body{ 
 padding-right:72px;
     	
}
}

@media (max-width:589px) {
	img{
		width:363.5px;
		height:46px;
}
}
@media (max-width:509px) {
	img{
		width:275px;
		height:34.5px;
}
}
@media(max-width:404px){
input.search{
    background-color: #323232;
    color: white;
	width:60%;
	maxlength:255;
    
}	
}
@media(max-width:350px){
input.search{
    background-color: #323232;
    color: white;
	width:50%;
	maxlength:255;
    
}	
}
@media(max-width:320px){
	img{
		width:700px;
		height:300%;   
}	
}
@media(max-height:900px){
	.sidenav a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
}
@media(max-height:768px){
	.sidenav a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 12.5px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
}
@media(max-width:1280px){
input.search{
	width:50%;
	maxlength:255;
    
}
}
/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 480px) {  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}



@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
}
@media/* only screen and */(max-height: 732px) {
  .sidenav {padding-top: 3px;}
  .sidenav a {font-size: 14px;}
}
@media/* only screen and */(max-width:414px){
input.search{
min-width:123%;
}
}
@media(max-width:360px){
	#demo{font-size:29px;}
	img.logo{width:180px;}
}
